|module.run(['$templateCache', ($templateCache) ->
|  $templateCache.put('contrib/iframe-menu.html', '''
nav.menu(ng-if="vm.project")
  div.menu-container
    ul.main-nav
      li(ng-repeat="i in iframes" id="{{i.slug}}")
        a(tg-nav="project-iframe:project=vm.project.get('slug'),iframe=i.slug", ng-class="{active: vm.active == 'iframe'}", title="{{i.title}}")
          span.icon
            img(ng-src="data:image/png;base64, {{i.icon}}")
          span.helper {{i.title}}
|''')]);
