|module.run(['$templateCache', ($templateCache) ->
|  $templateCache.put('contrib/iframe-show.html', '''
div.wrapper
    tg-project-menu
    section.main.iframe
      h1 
        a(href="{{iframe.url}}") {{iframe.title}}
      iframe(src="{{trustSrc(iframe.url)}}", name="{{iframe.slug}}", style="width:100%; height: 100%")
|''')]);
